<div class="footer">
  <div class="footer-links">
        <a href="https://github.com/NicoEym/rails-alumni/"><i class="fab fa-github"></i></a>

        <a href="https://www.linkedin.com/school/centre-international-de-valbonne/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="http://civ.classeprepa.net/">CIV Classe prépa</a>
  </div>
</div>
