<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upload.wikimedia.org/wikipedia/commons/2/23/Pr%C3%A9pa.CIV.JPG);">
  <div class="container-home">
    <div id="landing-page-form" class="col-xs-9 col-md-6">
      <h1>CIV Alumni</h1>
      <p>Le réseau des Anciens du CIV</p>
      <div>


       <% if user_signed_in? %>

        <div>
            <div class="button-box">
              <%= link_to "Voir tous les Alumni", users_path, class:"btn-outline blue-civ" %>
            </div >
             <% if current_user.is_an_alumni?  %>
              <div class="button-box">
                <%= link_to "Mon profil", user_path(current_user.id), class:"btn-outline blue-civ" %>
              </div >
           <% end %>
        </div>

      <% else %>

        <div>
          <div class="button-box">
            <%= link_to("Se connecter", new_user_session_path, class:"btn-outline blue-civ")  %>
          </div >
         <div class="button-box">
            <%= link_to("S'inscrire", new_user_registration_path, class:"btn-outline blue-civ")  %>
          </div >
        </div>

      <% end %>


      </div>
    </div>
  </div>
</div>
